.user-display {
    z-index: 1000;
    position: absolute;
    top: 1em;
    right: 1em;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3em;
}
