.app-container {
    display: flex;
    flex-direction: column;
}

aside {
    flex: 1;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.map {
    width: 100%;
    flex: 9;
}

@media screen and (min-width: 420px) {
    .app-container {
        flex-direction: row;
    }

}